				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">{{ site.title }}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
            {% if page.url == '/'  %}
							<li class="active"><a href="/index.html">This is {{ site.title }}</a></li>
            {% else %}
							<li><a href="/">This is {{ site.title }}</a></li>
            {% endif %}
            {% if page.url == '/generic/' %}
							<li class="active"><a href="/generic/">Generic Page</a></li>
            {% else %}
							<li><a href="/generic/">Generic Page</a></li>
            {% endif %}
            {% if page.url == '/elements/' %}
							<li class="active"><a href="/elements/">Elements Reference</a></li>
            {% else %}
							<li><a href="/elements/">Elements Reference</a></li>
            {% endif %}
						</ul>
						<ul class="icons">
              {% if site.github_username %}
							<li><a href="https://github.com/{{ site.github_username }}" class="icon fa-github"><span class="label">GitHub</span></a></li>
              {% endif %}
              {% if site.twitter_username %}
							<li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              {% endif %}
              {% if site.facebook_username %}
							<li><a href="https://www.facebook.com/{{ site.facebook_username }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              {% endif %}
              {% if site.instagram_username %}
							<li><a href="http://instagram.com/{{ site.instagram_username }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              {% endif %}
              {% if site.org_general_email_inbox %}
              <li class="last"><a href="mailto: {{ site.org_general_email_inbox }}"><i class="fa fa-envelope"></i></a></li>
              {% endif %}
						</ul>
					</nav>
